
.app-button {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    transition: filter 0.3s ease;
    cursor: pointer;
}

.app-button:hover {
    filter: brightness(85%);
}

.app-button:focus {
    outline: none;
}