

.hero-section {
    height: 100vh;
    background-image: url("../assets/images/home-page/hero-section-background.jpg");
    background-size: cover; /* Ensures the image covers the entire div */
    background-position: center; /* Centers the image within the div */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .hero-section {
        background-image: none;
        background-color: #F8F8F8;
        min-height: 100vh;
        height: fit-content;
    }
}


.hero-section-content {
    width: 100%; 
    margin: 0px; 
    height: 70%;
    padding-left: 8.33%;
    padding-right: 8.33%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .hero-section-content {
        padding: 0px;
    }
}


.hero-section-header {
    font-family: Rubik, serif;
    font-size: 5em;
    font-weight: bold 700;
    margin-top: 0px; 
    margin-bottom: 10px; 
    width: 100%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .hero-section-header {
        font-size: 3.2em;
    }
}


.hero-section-subheader {
    font-family: Rubik, serif;
    font-size: 3em;
    font-weight: bold 700;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .hero-section-subheader {
        font-size: 1.8em;
    }
}

.hero-section-message {

    margin: 0px; 
    text-align: left;
    font-size: 1.5em; 
    color: #838587
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .hero-section-message {
        font-size: 1.1em;
    }
}



.hero-section-button {
    height: 60px; 
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 12px;
    padding-bottom: 20px;
    background-color: transparent;
    border: 2px solid black;
    transition: background-color 0.7s ease, color 0.7s ease;
    font-size: 25px;
    text-decoration: none;
    cursor: pointer;
    color:black;
    display: inline-block;
    text-align: center;
}



.hero-section-button:hover {
    background-color: black;
    color: white;
}