@import './assets/styles/bootstrap/bootstrap-grid.css';

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  

  @font-face {
    font-family: 'Rubik';
    src: url('./assets/fonts/Rubik/Rubik-VariableFont_wght.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: 'KodeMono';
    src: url('./assets/fonts/Kode_Mono/KodeMono-VariableFont_wght.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}