@import './assets/styles/bootstrap/bootstrap-grid.css';
@import './assets/styles/bootstrap/bootstrap.min.css';

:root {
  --app-primary-color: #4EC9B0;
  --app-secondary-color: #61AFEE;
  --app-ternary-color: #90C9E7;
  --app-alternative-color: #C775DF;
}


html {
    scroll-behavior: smooth;
    font-size: 18px;
}

@media only screen and (max-width: 480px) {
  /* For mobile phones: */
  html {
      font-size: 16px;
  }
}


@media only screen and (max-width: 1024px) and (min-width: 481px) {
  /* For mobile phones: */
  html {
      font-size: 20px;
  }
}



body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  

  @font-face {
    font-family: 'Rubik';
    src: url('./assets/fonts/Rubik/Rubik-VariableFont_wght.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: 'KodeMono';
    src: url('./assets/fonts/Kode_Mono/KodeMono-VariableFont_wght.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

.app-container {
  width: 100vw;
  // overflow-x: hidden;
}

